[user]
	name = Adam Greloch
	email = zplhatesbananas@gmail.com
	signingkey = A532872D664CD190
[core]
	editor = vim
	autocrlf = input
[color]
	ui = true
[commit]
	gpgsign = true
	verbose = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[rebase]
	autoStash = true
[status]
	branch = true
	short = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
    tool = vimdiff
